body {
  background-color: #001A42;
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  background-color: #223E68;
  border-radius: 20px;
}

.chart-container {
  width: 400px;
  height: 400px;
}

.title {
  display: flex;
  background-color: #223E68;
}