* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001A42;
}

.App {
  color: white;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* header */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #223E68;
  padding: 1.5%;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

.titlebreb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37%;
  margin-right: 35%;
  margin-left: 40%;
  font-size: calc(10px + 0.5vw);
}

.breblogoc {
  width: 3%;
}

/* sidebar  */
.sidebar {
  background-color: rgba(34, 62, 104, 1);
  width: calc(50px + 12vw);
  height: calc(5px + 50vw);
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 1vw;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

.sidebar h2 {
  font-size: calc(10px + 0.9vw);
  margin-left: 0.8%;
  margin-bottom: 9%;
}

/* #date {
  margin-top: 1%;
} */

select {
  font-size: calc(8px + 0.6vw);
  width: calc(50px + 10vw);
  height: calc(10px + 2vw);
  border-radius: 0.5vw;
  background-color: rgba(65, 93, 135, 1);
  color: #ffffff;
  margin-left: 0.8%;
  margin-top: 7%;
  filter: drop-shadow(0.1vw 0.1vw 0vw black);
}

#Reset {
  font-size: calc(8px + 0.6vw);
  width: calc(50px + 10vw);
  height: calc(10px + 2vw);
  border-radius: 0.5vw;
  background-color: rgba(65, 93, 135, 1);
  color: #ffffff;
  margin-top: 13%;
  margin-left: 0.8%;

}

.next-eachother {
  display: flex;
  flex-direction: row;
}

/* km-h */
.km-h {
  background-color: rgba(34, 62, 104, 1);
  height: 25vw;
  width: calc(10px + 40vw);
  margin-top: 1%;
  margin-left: 1%;
  padding: 1%;
  border-radius: 1vw;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

@media screen and (min-width: 767px) {
  .km-h {
    width: calc(10px + 38vw);
  }
}

@media screen and (min-width: 1023px) {
  .km-h {
    width: calc(10px + 38.5vw);
  }
}

@media screen and (min-width: 1439px) {
  .km-h {
    width: calc(10px + 40vw);
  }
}

.km-h h2 {
  margin-left: 0.8%;
  font-size: calc(10px + 0.9vw);
}

.barchartspeed {
  width: calc(10px + 37vw);
  height: calc(10px + 20vw);
}

@media screen and (max-width: 768px) {
  .barchartspeed {
    width: calc(10px + 35vw);
  }
}

/* gyro */
.gyro {
  background-color: rgba(34, 62, 104, 1);
  height: 25vw;
  width: calc(10px + 40vw);
  margin-top: 1%;
  margin-left: 1%;
  padding: 1%;
  border-radius: 1vw;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

@media screen and (min-width: 767px) {
  .gyro {
    width: calc(10px + 38vw);
  }
}

@media screen and (min-width: 1023px) {
  .gyro {
    width: calc(10px + 38.5vw);
  }
}

@media screen and (min-width: 1439px) {
  .gyro {
    width: calc(10px + 40vw);
  }
}

.gyro h2 {
  margin-left: 0.8%;
  font-size: calc(10px + 0.9vw);
}

.gyroChart {
  width: calc(10px + 37vw);
  height: calc(10px + 20vw);
}

@media screen and (max-width: 768px) {
  .gyroChart {
    width: calc(10px + 35vw);
  }
}

/* volt meter */
.volt-meter {
  background-color: rgba(34, 62, 104, 1);
  height: 25vw;
  width: calc(10px + 40vw);
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 1vw;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

@media screen and (min-width: 767px) {
  .volt-meter {
    width: calc(10px + 38vw);
  }
}

@media screen and (min-width: 1023px) {
  .volt-meter {
    width: calc(10px + 38.5vw);
  }
}

@media screen and (min-width: 1439px) {
  .volt-meter {
    width: calc(10px + 40vw);
  }
}

.volt-meter h2 {
  margin-left: 0.8%;
  font-size: calc(10px + 0.9vw);
}

.linechartvolt {
  width: calc(10px + 37vw);
  height: calc(10px + 20vw);
}

@media screen and (max-width: 768px) {
  .linechartvolt {
    width: calc(10px + 35vw);
  }
}

/* maps */
.maps {
  background-color: rgba(34, 62, 104, 1);
  height: 25vw;
  width: calc(10px + 40vw);
  margin-top: 1%;
  margin-left: 1%;
  padding: 1%;
  border-radius: 1vw;
  filter: drop-shadow(0.1vw 0.1vw 0.1vw black);
}

@media screen and (min-width: 767px) {
  .maps {
    width: calc(10px + 38vw);
  }
}

@media screen and (min-width: 1023px) {
  .maps {
    width: calc(10px + 38.5vw);
  }
}

@media screen and (min-width: 1439px) {
  .maps {
    width: calc(10px + 40vw);
  }
}

.maps h2 {
  margin-bottom: 1%;
  margin-left: 0.8%;
  font-size: calc(10px + 0.9vw);
}

.street-maps {
  width: calc(10px + 37vw);
  height: calc(10px + 17vw);
}

@media screen and (max-width: 768px) {
  .street-maps {
    width: calc(10px + 35vw);
  }
}

/* footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1vw;
}

.footerinhoud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #223e68;
  padding: 1%;
  filter: drop-shadow(0.1vw -0.1vw 0.1vw black);
}

label {
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
}

#Date,
#start-time,
#end-time {
  background-color: #5372a1;
  color: #ffffff;
  font-size: 1vw;
  width: calc(50px + 10vw);
  height: calc(10px + 1.5vw);
  border-radius: 0.5vw;

}